{% extends 'HarvestCloudMarketPlaceBuyerBundle::layout.html.twig' %}

{% block content %}
    <h3>Products nearby</h3>
    <table class="standard">
        <thead>
            <tr>
                <th>Name</th>
                <th class="hide_sub_tablet_portrait">Category</th>
                <th>Seller</th>
                <th class="hide_sub_tablet_portrait">Location</th>
                <th>Price</th>
                <th><abbr title="Quantity">Qty</abbr><span class="hide_sub_tablet_portrait"> available</span></th>
                <th class="hide_sub_tablet_portrait">Distance</th>
            </tr>
        </thead>
        <tbody>
            {% for product in products %}
                <tr>
                  <td><a href="{{ path('Buyer_product_show', { 'id': product.0.id, 'path': product.0.category.path }) }}">{{ product.0.name }}</a></td>
                  <td class="hide_sub_tablet_portrait">{{ product.0.category }}</td>
                  <td>
                    <div><a href="{{ path('Buyer_seller_show', { 'id': product.0.seller.id }) }}">{{ product.0.seller.name }}</a></div>
                    <div class="show_sub_tablet_portrait">{{ product.0.location.town }}, {{ product.0.location.stateCode }}</div>
                    </td>
                  <td class="hide_sub_tablet_portrait">{{ product.0.location.town }}, {{ product.0.location.stateCode }}</td>
                  <td>${{ product.0.price }}</td>
                  <td>{{ product.0.quantityAvailable }}</td>
                  <td class="hide_sub_tablet_portrait">{{ product.distance|number_format(1) }} miles</td>
                </tr>
            {% endfor %}
        </tbody>
    </table><!-- .standard -->
    <div class="clear"></div>
{% endblock %}
